
	.responsive{
		width: 20%;
		height: auto;
		padding-left: 6%;
	}

	.logo{
		width: 18%;
		height: auto;
		display: block;
		float: right;
		margin-right: 40%;
		margin-top: 2%;
	}

	.button {
	  border-radius: 8px;
	  background-color: white;
	  border: 2px solid #b76e22;
	  color: #b76e22;
	  text-align: center;
	  font-size: 28px;
	  font-family: 'Pacifico', cursive;
	  padding: 20px;
	  width: 165px;
	  transition: all 0.5s;
	  cursor: pointer;
	  margin: 5px;
	}

	.button span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}

	.button span:after {
	  content: '\00ab';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  left: -20px;
	  transition: 0.5s;
	}

	.button:hover span {
	  padding-left: 25px;
	}

	.button:hover span:after {
	  opacity: 1;
	  left: 0;
	}

	.buttona {
	  border-radius: 8px;
	  background-color: white;
	  border: 2px solid #b76e22;
	  color: #b76e22;
	  text-align: center;
	  font-size: 28px;
	  font-family: 'Pacifico', cursive;
	  padding: 20px;
	  width: 165px;
	  transition: all 0.5s;
	  cursor: pointer;
	  margin: 5px;
	}

	.buttona span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}

	.buttona span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}

	.buttona:hover span {
	  padding-right: 25px;
	}

	.buttona:hover span:after {
	  opacity: 1;
	  right: 0;
	}

	.buttonb {
	  border-radius: 8px;
	  background-color: white;
	  border: 2px solid #0e8c8c;
	  color: #0e8c8c;
	  text-align: center;
	  font-size: 28px;
	  font-family: 'Pacifico', cursive;
	  padding: 20px;
	  width: 190px;
	  transition: all 0.5s;
	  cursor: pointer;
	  margin: 5px;
	}

	.buttonb span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}

	.buttonb span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}

	.buttonb:hover span {
	  padding-right: 25px;
	}

	.buttonb:hover span:after {
	  opacity: 1;
	  right: 0;
	}

	input[type=text], input[type=password] {
	  width: 90%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  box-sizing: border-box;
	  margin-left: 5%;
	  margin-bottom: 5%;
	}

	.cancelbtn:hover{
		background-color: #b76e22;
  		color: black;
	}

	/* Center the image and position the close button */
	.imgcontainer {
	  text-align: center;
	  margin: 24px 0 12px 0;
	  position: relative;
	}

	.container {
	  padding: 16px;
	}

	span.psw {
	  float: right;
	  padding-top: 16px;
	}

	/* The Modal (background) */
	.modal {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	  padding-top: 60px;
	}

	/* Modal Content/Box */
	.modal-content {
	  background-color: #fefefe;
	  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	  border: 1px solid #888;
	  width: 40%; /* Could be more or less, depending on screen size */
	}

	/* The Close Button (x) */
	.close {
	  position: absolute;
	  right: 25px;
	  top: 0;
	  color: #000;
	  font-size: 35px;
	  font-weight: bold;
	}

	.close:hover,
	.close:focus {
	  color: #b76e22;
	  cursor: pointer;
	}

	/* Add Zoom Animation */
	.animate {
	  -webkit-animation: animatezoom 0.6s;
	  animation: animatezoom 0.6s
	}

	@-webkit-keyframes animatezoom {
	  from {-webkit-transform: scale(0)} 
	  to {-webkit-transform: scale(1)}
	}
	  
	@keyframes animatezoom {
	  from {transform: scale(0)} 
	  to {transform: scale(1)}
	}

	/* Change styles for span and cancel button on extra small screens */
	@media screen and (max-width: 300px) {
	  span.psw {
	     display: block;
	     float: none;
	  }
	  .cancelbtn {
	     width: 100%;
	  }
	}

	.firstb{
		word-wrap: break-word;
		width: 80vw;
		margin-left: 5%;
	}

	.firstbhead{
		font-family: 'Arimo', sans-serif;
		margin-left: 5%;
		font-size: 3vw;
	}

	.firstbmhead{
		font-family: 'Arimo', sans-serif;
		margin-left: 1%;
		font-size: 3vw;
	}

	.toothBrush{
		width: 330px;
		height: auto;
		float: right;
	}

	.mensCup{
		width: 330px;
		height: auto;
		float: right;
		margin-top: 2%;
	}

	.reuCut{
		width: 420px;
		height: auto;
		float: right;
		margin-left: 10%;
		margin-top: -1%;
	}

	.beesWax{
		width: 330px;
		height: auto;
		float: right;
		margin-top: -1.8%;
	}

	.reuStraw{
		width: 400px;
		height: auto;
		float: right;
		margin-top: 1%;
	}

	.chewToo{
		width: 400px;
		height: auto;
		float: right;
		margin-top: 0%;
	}

	.eBags{
		width: 400px;
		height: auto;
		float: right;
		margin-top: -1%;
	}

	@media screen and (max-width: 766px) {
		body {
			width: 99%;
		}
		.logo {
			margin-right: 27%;
		}
		.slide {
			margin-left: 30%;
		}
		.drops {
			transform: translateY(-150px);
			margin-bottom: 0;
		}
		.card1 {
			/* transform: translateY(-100px) */
			margin-top: -40%;
		}
		.buttonb {
			transform: scale(0.3);
			margin-left: -10%;
			margin-top: -5%;
			margin-bottom: -5%;
		}
		.button {
			transform: scale(0.6);
			margin: -7%;
		}
		.blog1 {
			margin-top: -10%;
			display: flex;
			flex-direction: column;
		}
		.blog-image {
			margin-right: -10%;
		}
		.blog-image2 {
			margin-right: -17%
		}
		.firstbhead {
			font-size: 22px
		}
		.firstbmhead {
			font-size: 20px
		}
		.toothpaste1 {
			transform: scale(0.9);
			margin-right: -22%;
		}
		.eco {
			transform: scale(0.9);
			margin-right: -22%;
		}
		.straw {
			transform: scale(0.9);
			margin-right: -22%;
		}
		.cut {
			transform: scale(0.85);
			margin-right: -25%;
		}
		/* .w3-collapse {
			transform: translateX(-50px);
		} */
	}